*{
    padding: 0;
    margin: 0;
}

body{
    margin-bottom: 70px;
}
.next-1{
    display: flex;
}
.header-tabs{
    margin-left: 30vw;
    white-space: nowrap;
    margin-right:40px;
}
#design{
    margin-top:7px ;
}

#inputsubject{
    border: 1px solid black;
}
.form{
   
    width: 400px;
    height: 530px;
    /*background-image:linear-gradient(75deg,rgb(35, 35, 255),#4e5cc2);*/
    border: 2px solid black;
    margin: 7vh 6vh 0vh 6vh;
    border-radius: 25px;
}
.form h2{
    background-color: #f7bc52;
    color: white;
    text-align: center;
    padding: 15px;
}

.heading{
    /*max-width: 325px;*/
    margin-left: 30px;
    margin-right: 30px;
    padding: 25px 20px 10px 20px;
    margin-top: 20px;
    
}
.heading h2{
    border-radius: 4px;
}

.form-boxes{
    margin: 30px 35px 30px 35px;
    /*background-color: lightgrey;*/
}
.form-box{
    padding: 25px 35px 20px 35px;
    color: #4e5cc2;
}

.form-box h3{
    color: #4e5cc2;
    padding-bottom: 5px;

}
input
{
    align-items: center;
    border: none;
    border-radius: 3px;
    width: 230px;
    padding: 10px;
}


.submit-box button{
    align-items: center;
    border: none;
    border-radius: 3px;
    width: 230px;
    padding: 10px;
    align-items: center;
    text-align: center;
    margin: 35px 80px 40px 80px;
    width: 170px;
    background-color: #f7bc52;
    color: white;     
    border: none;
   text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    font-size: 17px;
}

#submit{
    height: 60px;
}
.submit-box button:hover{
    cursor: pointer;
    background-color: #f1ac2a;
}

#inputcontent{
    padding: 5px;
    margin-top: 7px;
    border: 1px solid black;
    border-radius: 3px;
}



/*part-02*/
.report{
    background-color: #E8E8E8;
    width: 60vw;
    min-height: 530px;
    margin: 7vh 6vh 0vh 6vh;
   /*background-image: url(mathsigns.png);*/
   background-position: center;
   background-image: contain;
   background-size: 100%;
    
}

/* #notices::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  #notices::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  #notices::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  #notices::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
   */

.head{
    
        padding: 25px 20px 10px 20px;
        backdrop-filter: blur(20px);
    box-shadow:0 8px 32px 0 rgba(0,0,0,0.37);
    border: none;
    
}
.head h2{
    background-color: #f7bc52;
    color: white;
    text-align: center;
    padding: 15px;
}
#notices{
  /*margin-top: 3vh;*/
  margin:4px, 4px;
                padding:4px;
                /*background-color: green;*/
                width: 99%;
                height: 430px;
                overflow-x: hidden;
                overflow-y: auto;
                text-align:justify;
}
#notices h3{
padding-bottom: 7px;
}

#notices div{
    /*background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(10    px);
    box-shadow:0 8px 32px 0 rgba(0,0,0,0.37);
    border: 1px solid black;*/
    background-color: #3a4590;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;    
}

#update{
    background-color: white;
    margin: 1vh 4vw 1vh 4vw;
   /* background-color: white;*/
    padding: 17px;
}

#inputcontent{
    height: 16px;
    margin-top: 0;
    padding:10px;
}