*{
    padding: 0;
    margin: 0;
    box-shadow: none;
}
.section-1{
    background-color: #4e5cc2;
    
}
.navbar{
    display: flex;
    align-items: center;
    padding: 15px;
}
.header-logo{
margin-left: 2vw;
text-align: center;
align-items: center;
justify-content: center;
}

.header-logo h1{
    margin-bottom: 10px;
}
.navbar h1,a{
    color: #ffffff;
}
.header-tabs{
    align-items: center;
    text-align: center;
    padding-left: 9vw;
}
.header-tabs a{
    text-decoration: none;
    padding-left: 4vw;
    font-size:21px;
}
.header-login{
    padding-left: 17vw;
}
.header-login a{
    text-decoration: none;
    font-size:21px;
}
.header-login button{
    margin-left: 30px;
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    border-radius: 15px;
}

.section-2{
   /* background-image: url('backimagcurves-removebg-preview.png');*/
    background-color: #4e5cc2;
    
    align-items: center;
    padding: 30px;
    padding-bottom: 110px;
    padding-left: 0;
    padding-right: 0;
    
}
.curve{
    position: absolute;
    top: -180px;
    
    
}
.divbox{
    display: flex;
    position: relative;
 
}
.head-box{
    
    margin-left: 9vw;
    margin-top: 9vh;
    
}
.head-box h1{
    font-size: 50px;
    color: whitesmoke;
    padding-bottom: 30px;
}
.head-box p{
    font-size: 20px;
    color: white;
    padding-bottom: 40px;
}
.head-box button{
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    background-color: #4e5cc2;
    padding: 15px 35px 15px 35px;
}
.image-box{
    margin-left: 5vw;
}